In [5]:
d = Dict(:a => 1, :b => 2)

Dict{Symbol, Int64} with 2 entries:
  :a => 1
  :b => 2

In [10]:
begin
    using DataFrames, Random
    Random.seed!(123)
    fake_data = rand(5, 5)
    df = DataFrame(fake_data)
end

5×5 DataFrame
 Row │ x1        x2         x3        x4        x5
     │ Float64   Float64    Float64   Float64   Float64
─────┼───────────────────────────────────────────────────
   1 │ 0.768448  0.662555   0.163666  0.463847  0.70586
   2 │ 0.940515  0.586022   0.473017  0.275819  0.291978
   3 │ 0.673959  0.0521332  0.865412  0.446568  0.281066
   4 │ 0.395453  0.26864    0.617492  0.582318  0.792931
   5 │ 0.313244  0.108871   0.285698  0.255981  0.20923

In [11]:
rename!(df, ["one", "two", "three", "four", "five"])

5×5 DataFrame
 Row │ one       two        three     four      five
     │ Float64   Float64    Float64   Float64   Float64
─────┼───────────────────────────────────────────────────
   1 │ 0.768448  0.662555   0.163666  0.463847  0.70586
   2 │ 0.940515  0.586022   0.473017  0.275819  0.291978
   3 │ 0.673959  0.0521332  0.865412  0.446568  0.281066
   4 │ 0.395453  0.26864    0.617492  0.582318  0.792931
   5 │ 0.313244  0.108871   0.285698  0.255981  0.20923

In [12]:
DataFrame(column1=1:10, column2=2:2:20, column3=3:3:30)

10×3 DataFrame
 Row │ column1  column2  column3
     │ Int64    Int64    Int64
─────┼───────────────────────────
   1 │       1        2        3
   2 │       2        4        6
   3 │       3        6        9
   4 │       4        8       12
   5 │       5       10       15
   6 │       6       12       18
   7 │       7       14       21
   8 │       8       16       24
   9 │       9       18       27
  10 │      10       20       30

In [13]:
begin
    df_ = DataFrame(Names = String[],
            Countries = String[],
            Ages = Int64[])
    df_ = vcat(df_, DataFrame(Names = "Juan", Countries = "Argentina", Ages = 24))
end

1×3 DataFrame
 Row │ Names   Countries  Ages
     │ String  String     Int64
─────┼──────────────────────────
   1 │ Juan    Argentina     24

In [15]:
begin
    df_.height = [1.72]
    df_
end

1×4 DataFrame
 Row │ Names   Countries  Ages   height
     │ String  String     Int64  Float64
─────┼───────────────────────────────────
   1 │ Juan    Argentina     24     1.72

In [16]:
df.three

5-element Vector{Float64}:
 0.16366581948600145
 0.4730168160953825
 0.8654121434083455
 0.617491887982287
 0.2856979003853177

In [17]:
df."three"

5-element Vector{Float64}:
 0.16366581948600145
 0.4730168160953825
 0.8654121434083455
 0.617491887982287
 0.2856979003853177